-
    let dovidky = {
        f083: {
            img: "img/f-083.jpg",
            head: "Медична довідка для водія (форма 083/О)",
            time: "30 хв",
            price: "500 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова,  наявність паспорту та двох фото розміром 3х4.",
            cta: "Записатися",
            dataForm: "для водія (форма 083/О)",
        },  
        f127: {
            img: "img/f-127.webp",
            head: "медична довідка для отримання дозволу на зброю (форма 127/0)",
            time: "30 хв",
            price: "500 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова,  наявність паспорту та двох фото розміром 3х4.",
            cta: "Записатися",
            dataForm: "для отримання дозволу на зброю (форма 127/0)",
        },  
        f086y: {
            img: "img/f-086-y.webp",
            head: "Медична довідка для прийому на роботу (форма 086-у)",
            time: "30 хв",
            price: "500 грн",
            description: "Для отримання довідки особиста присутність обов'язкова, а також паспорт.",
            cta: "Записатися",
            dataForm: "для прийому на роботу (форма 086-у)",
        },  
        f1omk: {
            img: "img/1-omk.webp",
            head: "ОСОБИСТА МЕДИЧНА КНИЖКА форма 1-ОМК",
            time: "30 хв",
            price: "500 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова,  наявність паспорту та двох фото розміром 3х4.",
            cta: "Записатися",
            dataForm: "особиста медична книжка форма 1-омк",
        },  
        f100: {
            img: "img/f-100-2.webp",
            head: "Довідка про проходження психіатричного огляду (форма 100-2/0)",
            time: "30 хв",
            price: "500 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова,  наявність паспорту.",
            cta: "Записатися",
            dataForm: "про проходження психіатричного огляду (форма 100-2/0)",
        },  
        f086_1: {
            img: "img/1-omk.webp",
            head: "МЕДИЧНА ДОВІДКА до школи (форма 086/1-0)",
            time: "30 хв",
            price: "400 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова.",
            cta: "Записатися",
            dataForm: "до школи (форма 086/1-0)",
        },  
        f086_0: {
            img: "img/f-086-0.webp",
            head: "МЕДИЧНА ДОВІДКА абітурієнта (форма 086/0)",
            time: "30 хв",
            price: "400 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова.",
            cta: "Записатися",
            dataForm: "абітурієнта (форма 086/0)",
        },  
        f_basein: {
            img: "img/f-basein.webp",
            head: "МЕДИЧНА ДОВІДКА для відвідування басейну",
            time: "30 хв",
            price: "200 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова.",
            cta: "Записатися",
            dataForm: "для відвідування басейну",
        },  
        f062: {
            img: "img/f-062.webp",
            head: "МЕДИЧНА ДОВІДКА для спортсменів (форма 062/0,061/0)",
            time: "30 хв",
            price: "300 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова.",
            cta: "Записатися",
            dataForm: "для спортсменів (форма 062/0,061/0)",
        },  
        f_epidotochenia: {
            img: "img/f-epidotochenia.webp",
            head: "медична довідка про епідемологічне оточення, в гуртожиток",
            time: "30 хв",
            price: "250 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова.",
            cta: "Записатися",
            dataForm: "про епідемологічне оточення, в гуртожиток",
        },  
        f_pesticidi: {
            img: "img/f-pesticidi.webp",
            head: "МЕДИЧНА ДОВІДКА особи, яка працює з пестицидами та агрохімікатами",
            time: "30 хв",
            price: "250 грн",
            description: "Для отримання довідки, особиста присутність обов'язкова.",
            cta: "Записатися",
            dataForm: "особи, яка працює з пестицидами та агрохімікатами",
        },  
        f_tabir: {
            img: "img/f-tabir.webp",
            head: "Медична довідка дитині, що виїжджає в оздоровчий табір",
            time: "30 хв",
            price: "50% вартості",
            description: "Для отримання довідки, особиста присутність обов'язкова.",
            cta: "Записатися",
            dataForm: "Медична довідка дитині, що виїжджає в оздоровчий табір",
        },  
        f_dublikat: {
            img: "img/dublikat.jpg",
            head: "Дублікат медичної довідки",
             time: "30 хв",
            price: "50% вартості",
            description: "Для отримання довідки, особиста присутність обов'язкова.",
            cta: "Записатися",
            dataForm: "Дублікат медичної довідки",
        },  
        
    }

mixin dovidka(forma) 
    figure
        figcaption.dovidka.grid.col_2.gap_40.items-center
            picture 
                img(src=forma.img, alt=forma.head)
            .description_dovidka 
                h2 #{forma.head}
                .flex.gap_20 
                    p.flex.items-center.gap_10 
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                            <path d="M21 11C21 16.52 16.52 21 11 21C5.48 21 1 16.52 1 11C1 5.48 5.48 1 11 1C16.52 1 21 5.48 21 11Z" stroke="#E73A3A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M14.7099 14.18L11.6099 12.33C11.0699 12.01 10.6299 11.24 10.6299 10.61V6.51001" stroke="#E73A3A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        span #{forma.time}
                    p.flex.items-center.gap_10 
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22" fill="none">
                            <path d="M17.3872 21.0202H7.48111C7.16757 21.0202 6.89321 20.8242 6.78543 20.5401C6.67765 20.2462 6.76583 19.9228 7.00099 19.7268C7.23615 19.5309 7.45171 19.2761 7.60848 19.0018C7.92202 18.5021 8.07881 17.9338 8.07881 17.3557C8.07881 15.6018 6.64826 14.1713 4.89437 14.1713C4.1693 14.1713 3.48342 14.4162 2.90532 14.8767C2.68976 15.0531 2.38601 15.0825 2.13125 14.9649C1.8765 14.8473 1.71973 14.5828 1.71973 14.2986V10.0168C1.71973 7.57709 3.69897 5.59784 6.13874 5.59784H17.3872C19.8269 5.59784 21.8062 7.57709 21.8062 10.0168V11.4278C21.8062 11.8295 21.473 12.1626 21.0713 12.1626H19.092C18.7491 12.1626 18.4356 12.29 18.2102 12.5252L18.2004 12.535C17.9261 12.7995 17.7987 13.162 17.8281 13.5344C17.8869 14.181 18.5042 14.7003 19.2096 14.7003H21.0713C21.473 14.7003 21.8062 15.0335 21.8062 15.4352V16.6012C21.8062 19.041 19.8269 21.0202 17.3872 21.0202ZM8.99983 19.5505H17.3872C19.0137 19.5505 20.3364 18.2277 20.3364 16.6012V16.1701H19.2096C17.7301 16.1701 16.4759 15.0727 16.3583 13.6617C16.28 12.8583 16.5739 12.0647 17.1618 11.4866C17.6713 10.9673 18.3572 10.6831 19.092 10.6831H20.3364V10.007C20.3364 8.38053 19.0137 7.05776 17.3872 7.05776H6.13874C4.51223 7.05776 3.18947 8.38053 3.18947 10.007V13.0249C3.73817 12.8093 4.31627 12.6917 4.90416 12.6917C7.47131 12.6917 9.55834 14.7787 9.55834 17.3459C9.55834 18.1199 9.36237 18.8842 8.99983 19.5505Z" fill="#E73A3A"/>
                            <path d="M2.4546 11.6237C2.05287 11.6237 1.71973 11.2906 1.71973 10.8889V6.41115C1.71973 4.95121 2.64077 3.6284 4.00272 3.1091L11.7825 0.169637C12.586 -0.134108 13.4777 -0.0262797 14.1733 0.46363C14.8788 0.953541 15.2903 1.74719 15.2903 2.59963V6.32294C15.2903 6.72466 14.9572 7.0578 14.5555 7.0578C14.1537 7.0578 13.8206 6.72466 13.8206 6.32294V2.59963C13.8206 2.2273 13.6442 1.88435 13.3307 1.66879C13.0171 1.45323 12.6448 1.40423 12.292 1.54141L4.51224 4.48087C3.71858 4.78461 3.17967 5.5587 3.17967 6.41115V10.8889C3.18947 11.3004 2.85633 11.6237 2.4546 11.6237Z" fill="#E73A3A"/>
                            <path d="M19.2095 16.17C17.7299 16.17 16.4758 15.0726 16.3582 13.6617C16.2798 12.8484 16.5737 12.0548 17.1616 11.4767C17.6613 10.9672 18.3472 10.683 19.0821 10.683H21.1201C22.0902 10.7124 22.8348 11.4767 22.8348 12.4173V14.4358C22.8348 15.3764 22.0902 16.1406 21.1495 16.17H19.2095ZM21.1005 12.1528H19.0919C18.7489 12.1528 18.4354 12.2801 18.21 12.5153C17.9259 12.7897 17.7887 13.162 17.8279 13.5343C17.8867 14.181 18.504 14.7003 19.2095 14.7003H21.1299C21.2573 14.7003 21.3749 14.5827 21.3749 14.4358V12.4173C21.3749 12.2703 21.2573 12.1626 21.1005 12.1528Z" fill="#E73A3A"/>
                            <path d="M13.7226 11.222H6.86378C6.46205 11.222 6.12891 10.8889 6.12891 10.4872C6.12891 10.0855 6.46205 9.75232 6.86378 9.75232H13.7226C14.1243 9.75232 14.4574 10.0855 14.4574 10.4872C14.4574 10.8889 14.1243 11.222 13.7226 11.222Z" fill="#E73A3A"/>
                            <path d="M4.90418 22C3.27766 22 1.74914 21.1378 0.926083 19.7366C0.485161 19.0311 0.25 18.1983 0.25 17.3459C0.25 15.9153 0.886886 14.5925 1.99409 13.7107C2.81714 13.0542 3.85576 12.6917 4.90418 12.6917C7.47132 12.6917 9.55835 14.7787 9.55835 17.3459C9.55835 18.1983 9.32319 19.0312 8.88227 19.7464C8.64711 20.158 8.32377 20.5303 7.95144 20.8438C7.13818 21.5885 6.05057 22 4.90418 22ZM4.90418 14.1614C4.1791 14.1614 3.49323 14.4064 2.91513 14.8669C2.16066 15.4646 1.71974 16.3758 1.71974 17.3459C1.71974 17.924 1.87651 18.4922 2.18026 18.9821C2.75836 19.962 3.77738 20.5303 4.90418 20.5303C5.67824 20.5303 6.42291 20.2461 6.99121 19.7366C7.24597 19.5211 7.46153 19.2663 7.6183 18.9919C7.93184 18.4922 8.08861 17.924 8.08861 17.3459C8.08861 15.592 6.65806 14.1614 4.90418 14.1614Z" fill="#E73A3A"/>
                            <path d="M4.34599 19.0508C4.15983 19.0508 3.97366 18.9822 3.82669 18.8353L2.85667 17.8653C2.57252 17.5811 2.57252 17.1107 2.85667 16.8266C3.14082 16.5424 3.61113 16.5424 3.89528 16.8266L4.36559 17.297L5.93332 15.8468C6.22727 15.5724 6.69758 15.5921 6.97194 15.886C7.24629 16.18 7.2267 16.6503 6.93275 16.9246L4.84571 18.8548C4.69874 18.9822 4.52236 19.0508 4.34599 19.0508Z" fill="#E73A3A"/>
                        </svg>
                        span #{forma.price}
                p #{forma.description}
                a(href="index.html#form" data-service=forma.dataForm).cta.page_cta #{forma.cta} 